html,
body {
  height: 100%;
  padding-bottom: 38px;
}

/* Page wrapper to fit it under the navbar and push footer down */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -31px;
    /* Pad bottom for footer +1 for border*/
    padding: 0px 0 31px;
}

#footer {
    padding: 4px;
    border-top:solid 1px #eee;
    height: 30px;
}